<!DOCTYPE html>
<html lang='es'>
    <head>

        <meta charset='UTF-8'>
        <link rel='stylesheet' href='/admin.css'>
        <link rel='icon' href='/img/wctrophy.png' type='image/png'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' >
        
        <title>ADMIN</title>

    </head>
    <body>
        <a class="rojo exit" href="/">EXIT</a>
        <div class="links-dashboard">
        <a href="/admin-amrdq12s/meter-resultados">Introducir resultados</a>
        <a href="/admin-amrdq12s/quiniela-controles">Controlar Quinielas</a>
        <a href="/admin-amrdq12s/jugadores-quinielas">Quinielas de Jugadores</a>
        <a href="/admin-amrdq12s/games">Partidos [Equipos]</a>
        <a href="/admin-amrdq12s/quinielas-faltantes">Quien falta por la quiniela [Fase]</a>
        </div>
    </body>
</html>