<!DOCTYPE html>
<html lang='es'>
    <head>

        <meta charset='UTF-8'>
        <link rel='stylesheet' href='/admin.css'>
        <link rel='icon' href='/img/wctrophy.png' type='image/png'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' >
        
        <title>ADMIN</title>

    </head>
    <body>
        <div class="exit rojo">
            <a href="/admin-amrdq12s">Ir al Inicio</a>
        </div>
        <div class="links-container">
            
            <a href="/admin-amrdq12s/meter-resultados/FDG">Fase de grupos</a>
            <a href="/admin-amrdq12s/meter-resultados/16VOS">16VOS</a>
            <a href="/admin-amrdq12s/meter-resultados/OCTAVOS">8VOS</a>
            <a href="/admin-amrdq12s/meter-resultados/CUARTOS">4TOS</a>
            <a href="/admin-amrdq12s/meter-resultados/SEMIS">SEMIS</a>
            <a href="/admin-amrdq12s/meter-resultados/TERCER_PUESTO">Tercer puesto</a>
            <a href="/admin-amrdq12s/meter-resultados/FINAL">FINAL</a>
            <a class="rojo" href="/admin-amrdq12s/deleteAll/ALL">BORRAR TODO</a>
            <a class="" href="/admin-amrdq12s/randomAll">GENERAR TODOS RESULTADOS</a>
        </div>
    </body>
</html>