<!DOCTYPE html>
<html lang='es'>
    <head>

        <meta charset='UTF-8'>
        <link rel='stylesheet' href='/style.css'>
        <link rel='icon' href='/img/wctrophy.png' type='image/png'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' >
        <link rel="manifest" href="/manifest.json">

        <title>Mundial 2026</title>

    </head>
    <body>
        <nav class="nav-bar">
            <a href="/">
            <img src='/img/wctrophy.png' height="50px" style="margin-left: 15px;">
            </a>
            <ul class="menu-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registrarse</a></li>
            </ul>
        </nav>
        <div class="container">
            <form class="register" autocomplete="off" action="/auth/login" method="POST">
                <img src="/img/icons/perfil.png" />
                <h2>Inicia Sesión</h2>
                <input type="text" id="user" name="user" placeholder="Usuario" required>
                <input type="password" id="pw" name="password" placeholder="Contraseña" required>
                <input type="submit" value="Entrar">
                <a href="/forgotpassword">Olvidaste tu contraseña?</a>
            </form>
            {{#if error}}
            <p class="error">{{error}}</p>
            {{/if}}
        </div>
    </body>
</html>