<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset='UTF-8'>
    <link rel='stylesheet' href='/style.css'>
    <link rel='icon' href='/img/wctrophy.png' type='image/png'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Restaurar Contraseña</title>
</head>
<body>
    <div class="container">
        <form class="register" method="POST" action="/auth/reset-password" autocomplete="off">
            <h2>Restaurar Contraseña</h2>
            <input type="password" name="password" placeholder="Nueva Contraseña" required>
            <input type="password" name="passwordConfirm" placeholder="Confirmar Contraseña" required>
            <input type="hidden" name="token" value="{{token}}">
            <input type="submit" value="Cambiar Contraseña">
        </form>
    </div>
</body>
</html>
